table {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

tr {
    background-color: #dad3d3;
}
thead tr {
    background-color: #a4a2a2;
}

tr:nth-child(2n) {
    background-color: #eae0e0;
}

td, th {
    padding: 16px;

}

.header-on-left th {
    background-color: #a4a2a2;
}

.error {
    background-color: #ffa7a7;
    border: 2px solid red;
    padding: 20px;
    margin: 10px auto;
    width: 75%;
}
