table {
    text-align: left;
}

tr {
    max-resolution: 2px;
    background-color: #dad3d3;
}
thead tr {
    background-color: #a4a2a2;
}

tr:nth-child(2n) {
    background-color: #eae0e0;
}

td, th {
    padding: 16px;

}
