<h2>Dodawanie nowych klientów do bazy</h2>
<form method="POST" action="/client">
    <div>
        <label>
            <p>
                E-mail:
            </p>
            <p>
                <input type="email" name="mail" required>
            </p>
        </label>
        <label>
            <p>
                Imię:
            </p>
            <p>
                <input type="text" name="name" required>
            </p>
        </label>
        <label>
            <p>
                Data następnego kontaktu:
            </p>
            <p>
                <input type="date" name="nextContactAt">
            </p>
        </label>
        <label>
            <p>
                Notatki:
            </p>
            <p>
                <textarea name="notes"></textarea>
            </p>
        </label>

        <p>
            <button type="submit">Zapisz</button>
        </p>
    </div>
</form>